@font-face {
    font-family: 'Museo Sans Cyrl';
    src: url('./fonts/museosanscyrl-webfont.woff2') format('woff2'),
         url('./fonts/museosanscyrl-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'PT Serif';
    src: url('./fonts/ptf75f-webfont.woff2') format('woff2'),
         url('./fonts/ptf75f-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}